{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

    <h1>Liste photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPhoto</th>
                <th>LienPhoto</th>
                <th>Description</th>
                <th>Voir </th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.idPhoto }}</td>
                <td>{{ photo.lienPhoto }}</td>
                <td>{{ photo.descriptionPhoto }}</td>
                
                <td>
                    <a href="{{ path('app_photo_show', {'idPhoto': photo.idPhoto}) }}">voir</a>
                </td>
                <td>
                    <a href="{{ path('app_photo_edit', {'idPhoto': photo.idPhoto}) }}">modifier</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_photo_new') }}">Ajouter une photo</a>
{% endblock %}
