{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <h1>Photo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPhoto</th>
                <td>{{ photo.idPhoto }}</td>
            </tr>
            <tr>
                <th>NomPhoto</th>
                <td>{{ photo.nomPhoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_photo_index') }}">back to list</a>

    <a href="{{ path('app_photo_edit', {'idPhoto': photo.idPhoto}) }}">edit</a>

    {{ include('photo/_delete_form.html.twig') }}
{% endblock %}
