{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

    <h1>Photo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPhoto</th>
                <td>{{ photo.idPhoto }}</td>
            </tr>
            <tr>
              
                <th>Photo</th>
                {#=====Affichage de la photo dans un tableau=====#}
                <td><img src="{{ asset('/uploads/'~photo.lienPhoto) }}" alt="" width="150px"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ photo.descriptionPhoto }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_photo_edit', {'idPhoto': photo.idPhoto}) }}">Modifier</a> <br>

    {{ include('photo/_delete_form.html.twig') }}   

    <a href="{{ path('app_photo_index') }}">Retour à la liste</a>
{% endblock %}
