{% extends 'base.html.twig' %}

{% block title %}Diplome index{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

    <h1>Liste des diplomes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDiplome</th>
                <th>NomDiplome</th>
                <th>Voir</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.idDiplome }}</td>
                <td>{{ diplome.nomDiplome }}</td>
                <td>
                    <a href="{{ path('app_diplome_show', {'idDiplome': diplome.idDiplome}) }}">voir</a>
                </td>
                <td>
                    <a href="{{ path('app_diplome_edit', {'idDiplome': diplome.idDiplome}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diplome_new') }}">Ajouter</a>
{% endblock %}
