{% extends 'base.html.twig' %}

{% block title %}Diplome{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('/css/style_crud.css') }}"/>

    <h1>Diplome</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdDiplome</th>
                <td>{{ diplome.idDiplome }}</td>
            </tr>
            <tr>
                <th>NomDiplome</th>
                <td>{{ diplome.nomDiplome }}</td>
            </tr>
        </tbody>
    </table>

   

    <a href="{{ path('app_diplome_edit', {'idDiplome': diplome.idDiplome}) }}">Modifier</a> <br>

    {{ include('diplome/_delete_form.html.twig') }}
    <a href="{{ path('app_diplome_index') }}">Retour à la liste</a>
{% endblock %}
