{% extends 'base.html.twig' %}


{% block title %}Coach index{% endblock %}


{% block body %}

<link rel="stylesheet" href="{{ asset('/css/style_crud.css') }}"/>


    <h1>Liste des coachs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCoach</th>
                <th>NomCoach</th>
                <th>Experience</th>
                <th>Voir fiche</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.idCoach }}</td>
                <td>{{ coach.nomCoach }}</td>
                <td>{{ coach.experience }}</td>
                <td>
                   <a href="{{ path('app_coach_show', {'idCoach': coach.idCoach}) }}">Voir</a>
                </td>
                <td>
                    <a href="{{ path('app_coach_edit', {'idCoach': coach.idCoach}) }}">Modifier</a>
                </td>        
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de coach enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coach_new') }}">Ajouter un nouveau coach</a>
{% endblock %}
